<!DOCTYPE html>
<html>
<head>
    <title>Sid's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Sid's Blog</a></h1>
    </div>

    <div>
        <p>published: 07.03.2019, 11:15</p>
        <h2><a href="">My first post</a></h2>
        <p>In computer programming, a mutual exclusion object (mutex) is a program object that allows multiple program threads to share the same resource, such as file access, but not simultaneously.</p>
    </div>

    <div>
        <p>published: 07.03.2019, 11:20</p>
        <h2><a href="">My second post</a></h2>
        <p>The Input Text Placeholder property in HTML DOM is used to set or return the value of the placeholder attribute of a text field. The placeholder attribute specifies the short hint that describes the expected value of an input field.</p>
    </div>
</body>
</html>